---
import "../styles/global.css";
import InteractiveBackground from "../components/InteractiveBackground.astro";
import { Analytics } from "@vercel/analytics/react";
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Edric Ramilo | Aspiring Cloud Engineer</title>
  </head>
  <body
    class="bg-background text-foreground font-sans antialiased selection:bg-primary selection:text-primary-foreground"
  >
    <Analytics />
    <InteractiveBackground />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    font-family: "Montserrat", sans-serif !important;
  }
</style>
